
  <div class="parallax-container">
    <div class="text-box">
      <p>I'M</p>
  <h1>Daniel Bobadilla</h1>
  <span>Full Stack Developer Jr</span>
</div>
</div>
    <nav class="navbar navbar-expand-lg  navbar-light fixed-top navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img class="img-fluid" src="../../assets/AP.logo.png" alt="">
            <img class="img-fluid" src="../../assets/Icon.tittle.logo.png" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item" style="font-size: 125%">
                <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house"></i> </a>
              </li>
              <li class="nav-item" style="font-size: 125%;">
                <a class="nav-link active" href="https://github.com/VeganC0de" target="_blank"> | <i class="bi bi-github"></i> GitHub </a>
              </li>
              <li class="nav-item" style="font-size: 125%;">
                <a class="nav-link active" href="https://www.linkedin.com/in/daniel-bobadilla-/" target="_blank"> | <i class="bi bi-linkedin"></i> LinkedIn </a>
              </li>
              <li class="nav-item dropdown " style="font-size: 125%">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  | About me 
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#"> | My story</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#"> | Skills</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#"> | Languages and tools</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#"> | Resume</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#"> | Contact Me</a></li>
                </ul>
              <li class="nav-item">
                <button class="glow-on-hover" type="button">LogIn</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      
      


      

