<div class="bg">
    
    <div class="row">
        <h1> HARD SKILLS</h1>
       <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#4c2882'"
          [innerStrokeColor]="'#ffffff'"
          [animation]="true"
          [animationDuration]="300"
          [backgroundColor]="'transparent'"
          [animationDuration]="2000"
          [title]="'HTML'"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [titleColor]="'#ffffff'"
          [animateTitle]="true"
    >
        </circle-progress>
        
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#4c2882'"
          [innerStrokeColor]="'#ffffff'"
          [animation]="true"
          [animationDuration]="300"
          [backgroundColor]="'transparent'"
          [animationDuration]="2000"
          [title]="'CSS'"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [titleColor]="'#ffffff'"
          [animateTitle]="true"
    >
        </circle-progress>
        
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#4c2882'"
          [innerStrokeColor]="'#ffffff'"
          [animation]="true"
          [animationDuration]="300"
          [backgroundColor]="'transparent'"
          [animationDuration]="2000"
          [title]="'JAVA'"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [titleColor]="'#ffffff'"
          [animateTitle]="true"
    >
        </circle-progress>
        
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#4c2882'"
          [innerStrokeColor]="'#ffffff'"
          [animation]="true"
          [animationDuration]="300"
          [backgroundColor]="'transparent'"
          [animationDuration]="2000"
          [title]="'Angular'"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [titleColor]="'#ffffff'"
          [animateTitle]="true"
    >
        </circle-progress>
        
     </div>
     <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#4c2882'"
          [innerStrokeColor]="'#ffffff'"
          [animation]="true"
          [animationDuration]="300"
          [backgroundColor]="'transparent'"
          [animationDuration]="2000"
          [title]="'JS'"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [titleColor]="'#ffffff'"
          [animateTitle]="true"
    >
        </circle-progress>
        
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#4c2882'"
          [innerStrokeColor]="'#ffffff'"
          [animation]="true"
          [animationDuration]="300"
          [backgroundColor]="'transparent'"
          [animationDuration]="2000"
          [title]="'MySQL'"
          [showUnits]="false"
          [titleFontSize]="'2em'"
          [titleColor]="'#ffffff'"
          [animateTitle]="true"
    >
        </circle-progress>
        
     </div>
    
    
    
      </div>
    </div>
