.row{
    padding: 20px;
}
.bg{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url(../../assets/12.jpg);


    min-height: 100vh;


    display: flex;
    flex-direction: column;
}
h1{
    

        text-align: center;
        margin-top: 75px;
        font-size: 100px;
        font-weight: 800;
        color: transparent;
        background-image: url( https://media.giphy.com/media/Fbox1ygIqnga5dLinz/giphy-downsized-large.gif);
        background-position: center;
        -webkit-background-clip: text;
    
}