<body>
    <footer>
        <img src="../../assets/Icon.tittle.logo.png" alt="" class="logo">
        <div class="social-icons-container">
            <a href="" class="social-icon"></a>
            <a href="" class="social-icon"></a>
            
        </div>
        <ul class="footer-menu-container">
            <li class="menu-item">Legal</li>
            <li class="menu-item">Cookies</li>
            <li class="menu-item">Privacy</li>
            <li class="menu-item">shipping</li>
            <li class="menu-item">Refounds</li>
        </ul>
        <span class="copyright">Made with <i class="bi bi-balloon-heart-fill"></i> in Buenos Aires</span>
    </footer>
</body>
