*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

body{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: black;
}

footer{
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-image: url(https://media.giphy.com/media/5BYCbzhKPrjHCHBezb/giphy.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    height: 120px;
    margin-bottom: 1rem;
}

.footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.menu-item{
    color: white;
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover{
    opacity: 1;
}

.copyright{
    color:white;
    opacity: 0.3;
    text-align: center;
}