

    <div class="contenedor">
        <main class="paf">
            <!-- Comienzo de seccion Educacion-->
            <div class="row">
                <header class="title">
                    <h2>Education</h2>
                </header>
                <div class="contents">
                    <div class="box">
                        <h4>2018-2024</h4>
                        <h3>High School Degree</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Assumenda a fugit illum tenetur illo asperiores quas, 
                             recusandae vel sunt optio perspiciatis, 
                            mollitia nam magni earum adipisci cupiditate consequuntur tempore natus?
                        </p>
                    </div>
                    <div class="box">
                        <h4>2018-2024</h4>
                        <h3>UTN Degree</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Assumenda a fugit illum tenetur illo asperiores quas, 
                             recusandae vel sunt optio perspiciatis, 
                            mollitia nam magni earum adipisci cupiditate consequuntur tempore natus?
                        </p>
                    </div>
                    <div class="box">
                        <h4>2018-2024</h4>
                        <h3>UBA Degree</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Assumenda a fugit illum tenetur illo asperiores quas, 
                             recusandae vel sunt optio perspiciatis, 
                            mollitia nam magni earum adipisci cupiditate consequuntur tempore natus?
                        </p>
                    </div>
                    <div class="box">
                        <h4>2018-2024</h4>
                        <h3>Egg coperation Degree</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Assumenda a fugit illum tenetur illo asperiores quas, 
                             recusandae vel sunt optio perspiciatis, 
                            mollitia nam magni earum adipisci cupiditate consequuntur tempore natus?
                        </p>
                    </div>
                    <div class="box">
                        <h4>2018-2024</h4>
                        <h3>Argentina Progama</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Assumenda a fugit illum tenetur illo asperiores quas, 
                             recusandae vel sunt optio perspiciatis, 
                            mollitia nam magni earum adipisci cupiditate consequuntur tempore natus?
                        </p>
                    </div>
                </div>

            </div>
            <!-- Final de seccion Educacion-->

            <!-- Comienzo de seccion Experiencia-->
            <div class="paf">
                <header class="title">
                    <h2>Experience</h2>
                </header>
                <div class="contents">
                    <div class="box">
                        <h4>2018-2024</h4>
                        <h3>Developer LSA</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Assumenda a fugit illum tenetur illo asperiores quas, 
                             recusandae vel sunt optio perspiciatis, 
                            mollitia nam magni earum adipisci cupiditate consequuntur tempore natus?
                        </p>
                    </div>
                    <div class="box">
                        <h4>2018-2024</h4>
                        <h3>Developer LSA</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Assumenda a fugit illum tenetur illo asperiores quas, 
                             recusandae vel sunt optio perspiciatis, 
                            mollitia nam magni earum adipisci cupiditate consequuntur tempore natus?
                        </p>
                    </div>
                    <div class="box">
                        <h4>2018-2024</h4>
                        <h3>Developer LSA</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Assumenda a fugit illum tenetur illo asperiores quas, 
                             recusandae vel sunt optio perspiciatis, 
                            mollitia nam magni earum adipisci cupiditate consequuntur tempore natus?
                        </p>
                    </div>
                    <div class="box">
                        <h4>2018-2024</h4>
                        <h3>Developer LSA</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Assumenda a fugit illum tenetur illo asperiores quas, 
                             recusandae vel sunt optio perspiciatis, 
                            mollitia nam magni earum adipisci cupiditate consequuntur tempore natus?
                        </p>
                    </div>
                    <div class="box">
                        <h4>2018-2024</h4>
                        <h3>Developer LSA</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Assumenda a fugit illum tenetur illo asperiores quas, 
                             recusandae vel sunt optio perspiciatis, 
                            mollitia nam magni earum adipisci cupiditate consequuntur tempore natus?
                        </p>
                    </div>
                </div>

            </div>

             <!-- Final de seccion Experiencia-->
        </main>
    </div>

