<body>
<div class="wrapper">
    <div class="contenedor">
        <h2> My coding skills</h2>
        <div class="skills">
            <div class="details">
                <span>HTML</span>
                <span>90%</span>
            </div>
            <div class="bar">
                <div class="html-bar"></div>
            </div>
        </div>
        <div class="skills">
            <div class="details">
                <span>CSS</span>
                <span>75%</span>
            </div>
            <div class="bar">
                <div class="css-bar"></div>
            </div>
        </div>
        <div class="skills">
            <div class="details">
                <span>Bootstrap</span>
                <span>80%</span>
            </div>
            <div class="bar">
                <div class="bootstrap-bar"></div>
            </div>
        </div>
    </div>
</div>
</body>