*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    
}

body{
     /*  this is where the magic happens:  */
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     background-image: url(../../assets/12.jpg);
   
     /* dimensions are important, ensure it is tall enough to scroll */ 
     min-height: 100vh;
   
     /* you are free to lay out the container items with flexbox or whatever means you wish */
     display: flex;
     flex-direction: column;
}

.wrapper{
    width: 40%;
    min-width: 500px;
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    
}


.contenedor{
    width: 100%;
    padding: 50px 30px;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 150px;
    left: 200px;
}

span{
    color: white;
}

h2{
    color: white;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.skills:not(:last-child){
    margin-bottom: 30px;
}

.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar{
    position: relative;
    background-color: rgba(255, 255, 255, 0.06);
    padding: 7px 10px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.bar div{
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #8060b1;
    border: 1px solid #4c2882;
    box-shadow: 0 0 5px rgba(79, 5, 122, 0.6);
}

#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill {
    100%{
        width:90%;
    }
}

#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill {
    100%{
        width:75%;
    }
}

#bootstrap-bar{
    animation: bootstrap-fill 2s forwards;
}
@keyframes bootstrap-fill {
    100%{
        width:80%;
    }
}
