<div class="bg">
    
<div class="row">
    <h1> SOFT SKILLS</h1>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#4c2882'"
      [innerStrokeColor]="'#ffffff'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundColor]="'transparent'"
      [animationDuration]="2000"
      [title]="'Comunication'"
      [showUnits]="false"
      [titleFontSize]="'1.5em'"
      [titleColor]="'#ffffff'"
      [animateTitle]="true"
>
    </circle-progress>
    
 </div>
 <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#4c2882'"
      [innerStrokeColor]="'#ffffff'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundColor]="'transparent'"
      [animationDuration]="2000"
      [title]="'Problem solving'"
      [showUnits]="false"
      [titleFontSize]="'1.3em'"
      [titleColor]="'#ffffff'"
      [animateTitle]="true"
>
    </circle-progress>
    
 </div>
 <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#4c2882'"
      [innerStrokeColor]="'#ffffff'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundColor]="'transparent'"
      [animationDuration]="2000"
      [title]="'Leadership'"
      [showUnits]="false"
      [titleFontSize]="'1.8em'"
      [titleColor]="'#ffffff'"
      [animateTitle]="true"
>
    </circle-progress>
    
 </div>
 <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#4c2882'"
      [innerStrokeColor]="'#ffffff'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundColor]="'transparent'"
      [animationDuration]="2000"
      [title]="'Empathy'"
      [showUnits]="false"
      [titleFontSize]="'2em'"
      [titleColor]="'#ffffff'"
      [animateTitle]="true"
>
    </circle-progress>
    
 </div>
 <div class=" text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#4c2882'"
      [innerStrokeColor]="'#ffffff'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundColor]="'transparent'"
      [animationDuration]="2000"
      [title]="'Listening'"
      [showUnits]="false"
      [titleFontSize]="'2em'"
      [titleColor]="'#ffffff'"
      [animateTitle]="true"
>
    </circle-progress>
    
 </div>
 <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#4c2882'"
      [innerStrokeColor]="'#ffffff'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundColor]="'transparent'"
      [animationDuration]="2000"
      [title]="'Time Management'"
      [showUnits]="false"
      [titleFontSize]="'1.1em'"
      [titleColor]="'#ffffff'"
      [animateTitle]="true"
>
    </circle-progress>
    
 </div>



  </div>
</div>