<body>

<h1>My skills</h1>

<div class="skills-container">
    
    <ul class="skills-box">
        <li>
            <h5>HTML (95%)</h5>
            <span class="bar bar1"></span>
        </li>
        <li>
            <h5>CSS (85%)</h5>
            <span class="bar bar2"></span>
        </li>
        <li>
            <h5>JAVASCRIPT (40%)</h5>
            <span class="bar bar3"></span>
        </li>
        <li>
            <h5>ANGULAR (70%)</h5>
            <span class="bar bar4"></span>
        </li>
        <li>
            <h5>MySQL (30%)</h5>
            <span class="bar bar5"></span>
        </li>
        <li>
            <h5>Java (60%)</h5>
            <span class="bar bar6"></span>
        </li>
        <li>
            <h5>Bootstrap (80%)</h5>
            <span class="bar bar7"></span>
        </li>
    </ul>
</div>
</body>
